<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScreenshotPath" value="C:\Users\Vern\Documents\GitHub\SeleniumRunner"/>
    <add key="RelativeWebDriverPath" value="..\..\..\lib\webdrivers"/>
    <add key="ElementWaitTimeoutInSeconds" value="1"/>
    <add key="ElementWaitPollIntervalInMilliseconds" value="200"/>
  </appSettings>
</configuration>